.navbar .nav > li > a:hover,
.navbar .nav > li > a:focus,
.navbar .navbar-nav > li > a:hover,
.navbar .navbar-nav > li > a:focus {
  background-color: transparent;
  color: #0099FF;
  font-weight: bold;
}

.navbar .nav > li.active > a,
.navbar .nav > li.active > a:hover,
.navbar .nav > li.active > a:focus,
.navbar .navbar-nav > li.active > a,
.navbar .navbar-nav > li.active > a:hover,
.navbar .navbar-nav > li.active > a:focus {
  background-color: transparent;
  color: #0099FF;
  font-weight: bold;
}

hr {
  border: 0;
  border-top: 0;
}

.content-box hr.divider {
  border-top: 2px solid #000;
}
