---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

$dm-blue: #0099FF;
$font-family-sans-serif: "Quicksand";
$body-bg: #666666;
$text-color: #000000;
$navbar-border-radius: 0;
$navbar-default-bg: #000000;
$navbar-default-color: $dm-blue;
$navbar-default-link-color: $dm-blue;
$navbar-default-link-hover-color: $dm-blue;
$navbar-default-link-active-bg: #000000;
$navbar-default-link-active-color: $dm-blue;
$navbar-height: 60px;
$font-size-large: 20px;
$font-size-base: 16px;
$link-color: #000000;
$link-hover-color: #000000;
$link-hover-decoration: underline;

// Import partials from `sass_dir` (defaults to `_sass`)
@import
  "base",
  "syntax-highlighting"
;

.navbar {
  border-bottom: 2px solid #333;
}

.navbar .nav li {
  a {
    font-size: 22px;
    &:hover {
      font-weight: bold;
    }
  }
  &.active a {
    font-weight: bold;
  }
}

a.navbar-brand {
  font-size: 24px;
  padding: 4px 0;

  img {
    max-height: 100%;
    width: auto;
    display: inline-block;
  }
}

@media (max-width: $screen-sm-min) {
  a.navbar-brand {
    font-size: 20px;
  }
}

.content-box {
  background-color: $dm-blue;
  border: 2px solid #000;
  box-shadow: 0 2px #555;
  padding: 10px;
  margin-bottom: 20px;

  .news-title {
    margin-top: 0;
  }

  hr.divider {
    margin: 10px -10px;
    border-top: 2px solid #000;
  }
}

div.footer {
  text-align: center;
  margin-bottom: 20px;
  color: #999;
}

@-moz-keyframes spin {
  to { -moz-transform: rotate(0deg); }
  from { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  to { -webkit-transform: rotate(0deg); }
  from { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
  to {transform:rotate(0deg);}
  from {transform:rotate(360deg);}
}

div.loading {
  width: 80px;
  height: 80px;
  background: url('/images/logo-square.jpg');
  background-size: contain;
  border-radius: 50%;

  -webkit-animation-name: spin;
  -webkit-animation-duration: 1250ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: spin;
  -moz-animation-duration: 1500ms;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: spin;
  -ms-animation-duration: 1500ms;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
  -o-transition: rotate(3600deg);
}

