---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

$dm-blue: #0099FF;
$font-family-sans-serif: "Quicksand";
$body-bg: #666666;
$text-color: #000000;
$navbar-border-radius: 0;
$navbar-default-bg: #000000;
$navbar-default-color: $dm-blue;
$navbar-default-link-color: $dm-blue;
$navbar-default-link-hover-color: $dm-blue;
$navbar-default-link-active-bg: #000000;
$navbar-default-link-active-color: $dm-blue;
$navbar-height: 60px;
$font-size-large: 20px;
$font-size-base: 16px;
$link-color: #FFFFFF;
$link-hover-color: #000000;
$link-hover-decoration: none;

// Import partials from `sass_dir` (defaults to `_sass`)
@import
  "base",
  "syntax-highlighting"
;

.navbar {
  border-bottom: 2px solid #333;
}

.navbar .nav li {
  a {
    font-size: 22px;
    &:hover {
      font-weight: bold;
    }
  }
  &.active a {
    font-weight: bold;
  }
}

a.navbar-brand {
  font-size: 24px;
  padding: 4px 0;

  img {
    max-height: 100%;
    width: auto;
    display: inline-block;
  }
}

@media (max-width: $screen-sm-min) {
  a.navbar-brand {
    font-size: 20px;
  }
}

.content-box {
  background-color: $dm-blue;
  border: 2px solid #000;
  box-shadow: 0 2px #555;
  padding: 10px;
  margin-bottom: 20px;

  .news-title {
    margin-top: 0;
  }

  hr.divider {
    margin: 10px -10px;
    border-top: 2px solid #000;
  }
}

div.footer {
  text-align: center;
  margin-bottom: 20px;
  color: #999;
}
