---
---
.menu {
  .div1 {
    background-image: url(/versions/orbs/images/christmasmenu/menu1.jpg);
    &:hover {
      background-image: url(/versions/orbs/images/christmasmenu/menu1-over.jpg);
    }
  }
  .div2 {
    background-image: url(/versions/orbs/images/christmasmenu/menu2.jpg);
    &:hover {
      background-image: url(/versions/orbs/images/christmasmenu/menu2-over.jpg);
    }
  }
  .div3 {
    background-image: url(/versions/orbs/images/christmasmenu/menu3.jpg);
    &:hover {
      background-image: url(/versions/orbs/images/christmasmenu/menu3-over.jpg);
    }
  }
  .div4 {
    background-image: url(/versions/orbs/images/christmasmenu/menu4.jpg);
    &:hover {
      background-image: url(/versions/orbs/images/christmasmenu/menu4-over.jpg);
    }
  }
  .div5 {
    background-image: url(/versions/orbs/images/christmasmenu/menu5.jpg);
    &:hover {
      background-image: url(/versions/orbs/images/christmasmenu/menu5-over.jpg);
    }
  }
  .div6 {
    background-image: url(/versions/orbs/images/christmasmenu/menu6.jpg);
    &:hover {
      background-image: url(/versions/orbs/images/christmasmenu/menu6-over.jpg);
    }
  }
  .div7 {
    background-image: url(/versions/orbs/images/christmasmenu/menu7.jpg);
    &:hover {
      background-image: url(/versions/orbs/images/christmasmenu/menu7-over.jpg);
    }
  }
  .div8 {
    background-image: url(/versions/orbs/images/christmasmenu/menu8.jpg);
    &:hover {
      background-image: url(/versions/orbs/images/christmasmenu/menu8-over.jpg);
    }
  }
  .div9 {
    background-image: url(/versions/orbs/images/christmasmenu/menuleft.jpg);
  }
  .div10 {
    background-image: url(/versions/orbs/images/christmasmenu/menurighttop.jpg);
  }
  .div11 {
    background-image: url(/versions/orbs/images/christmasmenu/menurightbottom.jpg);
  }
  .div12 {
    background-image: url(/versions/orbs/images/christmasmenu/menubottom.jpg);
  }
}
