<footer>
    <div class="container footer">
        &copy; 2002 - 2024 * Dueling Monkeys
    </div>
</footer>

<script type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="/bower_components/twbs-bootstrap-sass/assets/javascripts/bootstrap.js"></script>
<script type="text/javascript" src="/bower_components/ekko-lightbox/dist/ekko-lightbox.min.js"></script>
<script type="text/javascript">
$(document).delegate('*[data-toggle="lightbox"]', 'click', function(e) {
    e.preventDefault();
    $(this).ekkoLightbox();
});
$(document).delegate('a[href$="jpg"]', 'click', function(e) {
    e.preventDefault();
    $(this).ekkoLightbox();
});
</script>
