<footer>
    <div class="container footer">
        &copy; 2002 - 2023 * Dueling Monkeys
    </div>
</footer>

<script type="text/javascript" src="https://unpkg.com/jquery@3.7.1/dist/jquery.min.js"></script>
<script type="text/javascript" src="https://unpkg.com/bootstrap-sass@3.4.3/assets/javascripts/bootstrap.min.js"></script>
<script type="text/javascript" src="https://unpkg.com/ekko-lightbox@3.3.0/dist/#:~:text=ekko%2Dlightbox.min.js"></script>
<script type="text/javascript">
$(document).delegate('*[data-toggle="lightbox"]', 'click', function(e) {
    e.preventDefault();
    $(this).ekkoLightbox();
});
$(document).delegate('a[href$="jpg"]', 'click', function(e) {
    e.preventDefault();
    $(this).ekkoLightbox();
});
</script>
