<nav class="navbar" role="navigation">
    <div class="navbar-inner">
        <div class="navbar-logo">
            <!-- <button type="button" class="dm-navbar-toggle">
                <span class="sr-only">Toggle navigation</span>
                <div class="logo"></div>
            </button> -->
            <a class="navbar-brand" href="/">
                <div>Dueling</div>
                <div class="hidden-xs"><div class="logo"></div></div>
                <div>Monkeys</div>
            </a>
        </div>

        <ul class="nav navbar-nav">
            <li{% if page.nav == 'blog' %} class="active"{% endif %}><a href="/">Blog</a></li>
            <li{% if page.nav == 'photos' %} class="active"{% endif %}><a href="/gallery/">Gallery</a></li>
            <li{% if page.nav == 'games' %} class="active"{% endif %}><a href="/games/">Games</a></li>
            <li{% if page.nav == 'about' %} class="active"{% endif %}><a href="/about/">About</a></li>
        </ul>
    </div>
</nav>
