@import '../bower_components/twbs-bootstrap-sass/assets/stylesheets/bootstrap';

.galleries {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  align-items: center;

  > a {
    display: block;
    margin: 0.5%;
    -webkit-flex: 0 1 19%;
    flex: 0 1 19%;
    padding-top: 19%;
    background-size: cover;
    text-decoration: none;
    position: relative;

    h3 {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      margin: 0;
      padding: 5px;
      text-align: center;
      background-color: rgba(255,255,255,0.7);
      color: #000;
      font-size: 18px;
    }
  }
}

.gallery-box {
  position: relative;

  &:before {
    content: '';
    display: block;
    padding-top: 100%;
  }

  .gallery-thumbnail {
    background-size: cover;
    background-position: center center;
    border-radius: 0;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
  }
}

.news-archives {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;

  dl {
    flex: 1 1 auto;
    min-width: 60px;

    dd {
      color: #444;
    }
  }
}

.news-archive-preview {
  margin-bottom: 20px;
  clear: both;
  height: 60px;

  img {
    max-height: 60px;
    float: left;
    margin-left: -8px;
  }

  span {
    float: right;
    font-style: italic;
  }
}

.games-list {
  .game {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-flex-flow: row nowrap;
    flex-flow: row nowrap;

    font-size: 14px;

    h4 {
      font-size: 18px;
      margin: 5px 0;
    }

    .thumbnail {
      -webkit-flex: 0 0 auto;
      flex: 0 0 auto;
      border: 1px solid #000;
      margin: 20px;

      img {
        width: 64px;
        height: 64px;
      }
    }

    .description {
      -webkit-flex: 1 0 auto;
      flex: 1 0 auto;

      font-size: 0.9em;
    }

    border-bottom: 1px solid #666;

    &:last-child {
      border-bottom: 0;
    }
  }
}