---
layout: default
nav: games
---
<div class="content-box">
    <img src="{{ page.thumbnail }}" class="pull-right" width="64" height="64">
    <h3 class="news-title">{{ page.title }}</h3>
    <dl class="dl-horizontal">
        <dt>Year:</dt><dd>{{ page.date | date: "%Y" }}</dd>
        <dt>Contributors:</dt><dd>{{ page.contributors | join:', ' }}</dd>
        <dt>Download:</dt><dd><a href="{{ page.download }}">{{ page.download }}</a></dd>
    </dl>
    <hr class="divider">
    {{ content }}
    <hr class="divider">
    <div class="row">
        {% for img in page.images %}
        {% assign parts = img | split:'/' %}
        {% assign file = '/t_' | append:parts.last %}
        {% assign thumb = parts | pop | join:'/' | append:file %}
        <div class="col-xs-6 col-sm-1">
            <a href="{{ img }}" class="thumbnail">
                <img src="{{ thumb }}" alt="Thumbnail">
            </a>
        </div>
        {% endfor %}
    </div>
</div>

